@CHARSET "UTF-8";
<style > 
body, div, h1, form, fieldset, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}
body {
	background: #728eaa;
	font-family: Georgia;
	margin-bottom: 20px;
	padding-bottom: 40px;
}
#container {
	width: 460px;
	margin: 30px auto;
	padding: 60px 80px;
	background: #c9d0de;
	border: 3px solid #e1e1e1;
}
label {
	float: left;
	clear: left;
	margin: 28px 0px 0px 25px;
	width: 95px;
	text-align: right;
	font-size: 22px;
	font-family: Georgia;
	color: #445668;
	text-shadow: 0px 1px 0px #f2f2f2;
}
td {
	white-space: nowrap;
	color: #445668;
}
table{
	margin:0px 1px 2px 130px;
}
input {

	width: 230px;
	height: 35px;
	*
	padding: 5px 20px 5px 20px;
	margin: 20px 0 10px 0;
	background: #5E768D;
	border-radius: 8px;
	font-family: Georgia, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-shadow: 0px -1px 0px #38506b;
}
input[type=submit], input[type=reset] {
	width: 80px;
	height: 42px;
	border: 3px solid #556f8c;
	padding-left: 10px;
	cursor: pointer;
	color: #FFFFFF;
}
input[type=checkbox] {
	width: 15px;
	height: 15px;
	border: 1px solid #c9d0de;
	cursor: pointer;
}
input:focus, textarea:focus {
	background: #728eaa;
}

h1 {
	font-size: 35px;
	color: #445668;
	text-align: center;
	margin: 0 0 35px 0;
	text-shadow: 0px 2px 0px #f2f2f2;
}
p {
   margin-left:50px;
}
#p1{
	margin:2px 5px 10px 185px;
}
#p2{
	margin-left:90px;
}

</style>